html, body {margin:0; padding:0; font-family: sans-serif; color:#000; background-color:#ddf;}
div {margin:0; padding:1em;}
code, pre {font-family:monospace;}
a:link {color:#00f; text-decoration:none;}
a:visited {color:#00f; text-decoration:none;}
a:hover {color:#00f; text-decoration:underline;}
a:active {color:#f00; text-decoration:underline;}
h1, h2, h3 {color:#c00;}
img {max-width:100%; height:auto; margin-left:auto; margin-right:auto;}
#header {color:#fff; background-color:#c00;}
#header p {font-size:200%; font-weight:bold; margin:0;}
#header a:link {color:#fff; text-decoration:none;}
#header a:visited {color:#fff; text-decoration:none;}
#header a:hover {color:#fff; text-decoration:underline;}
#header a:active {color:#ddf; text-decoration:underline;}
